@page
@model SementesApplication.CreateVolunteer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Volunteer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Volunteer.VolunteerDocCPF" class="control-label"></label>
                <input asp-for="Volunteer.VolunteerDocCPF" class="form-control" />
                <span asp-validation-for="Volunteer.VolunteerDocCPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.VolunteerDocRG" class="control-label"></label>
                <input asp-for="Volunteer.VolunteerDocRG" class="form-control" />
                <span asp-validation-for="Volunteer.VolunteerDocRG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.VolunteerName" class="control-label"></label>
                <input asp-for="Volunteer.VolunteerName" class="form-control" />
                <span asp-validation-for="Volunteer.VolunteerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.VolunteerBirthDate" class="control-label"></label>
                <input asp-for="Volunteer.VolunteerBirthDate" class="form-control" />
                <span asp-validation-for="Volunteer.VolunteerBirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.VolunteerAge" class="control-label"></label>
                <input asp-for="Volunteer.VolunteerAge" class="form-control" />
                <span asp-validation-for="Volunteer.VolunteerAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.VolunteerResumee" class="control-label"></label>
                <input asp-for="Volunteer.VolunteerResumee" class="form-control" />
                <span asp-validation-for="Volunteer.VolunteerResumee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.VolunteerPhone" class="control-label"></label>
                <input asp-for="Volunteer.VolunteerPhone" class="form-control" />
                <span asp-validation-for="Volunteer.VolunteerPhone" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Volunteer.VolunteerMessagePhone" /> @Html.DisplayNameFor(model => model.Volunteer.VolunteerMessagePhone)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.VolunteerEmail" class="control-label"></label>
                <input asp-for="Volunteer.VolunteerEmail" class="form-control" />
                <span asp-validation-for="Volunteer.VolunteerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.VolunteerSocialMidiaProfile" class="control-label"></label>
                <input asp-for="Volunteer.VolunteerSocialMidiaProfile" class="form-control" />
                <span asp-validation-for="Volunteer.VolunteerSocialMidiaProfile" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Volunteer.VolunteerActive" /> @Html.DisplayNameFor(model => model.Volunteer.VolunteerActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.AddressID" class="control-label"></label>
                <select asp-for="Volunteer.AddressID" class ="form-control" asp-items="ViewBag.AddressID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
