@page
@model SementesApplication.EditJob

@{
    ViewData["Title"] = "Edit";
}


<h4>Edit Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Jobs.JobId" />
            <div class="form-group">
                <label asp-for="Jobs.JobDay" class="control-label"></label>
                <input asp-for="Jobs.JobDay" class="form-control" />
                <span asp-validation-for="Jobs.JobDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jobs.JobPeriod" class="control-label"></label>
                <input asp-for="Jobs.JobPeriod" class="form-control" />
                <span asp-validation-for="Jobs.JobPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jobs.ActionKind" class="control-label"></label>
                <select asp-for="Jobs.ActionKind" asp-items="Html.GetEnumSelectList<ActionKind>()" class="form-control">
                    <option value="">Choose a Type</option>
                </select>
                <span asp-validation-for="Jobs.ActionKind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jobs.EntityId" class="control-label"></label>
                <select asp-for="Jobs.EntityId" class="form-control" asp-items="ViewBag.EntityId"></select>
                <span asp-validation-for="Jobs.EntityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
