@page
@model SementesApplication.CreateAddress

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<a asp-page="/City/Create">New City |</a>

<h4>Address</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address.AddressKind" class="control-label"></label>
                <select asp-for="Address.AddressKind" class="form-control"></select>
                <span asp-validation-for="Address.AddressKind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.AddressDesignation" class="control-label"></label>
                <input asp-for="Address.AddressDesignation" class="form-control" />
                <span asp-validation-for="Address.AddressDesignation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.AddressNumber" class="control-label"></label>
                <input asp-for="Address.AddressNumber" class="form-control" />
                <span asp-validation-for="Address.AddressNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.AddressDistrict" class="control-label"></label>
                <input asp-for="Address.AddressDistrict" class="form-control" />
                <span asp-validation-for="Address.AddressDistrict" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.AddressComplement" class="control-label"></label>
                <input asp-for="Address.AddressComplement" class="form-control" />
                <span asp-validation-for="Address.AddressComplement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.CityID" class="control-label"></label>
                <select asp-for="Address.CityID" class="form-control" asp-items="ViewBag.CityID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
